@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/rubik-v20-latin-regular.woff2') format('woff2'),
         url('../fonts/rubik-v20-latin-regular.woff') format('woff'); 
  }
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/rubik-v20-latin-500.woff2') format('woff2'),
         url('../fonts/rubik-v20-latin-500.woff') format('woff');
  }

*{
    box-sizing: border-box;
}
body{
    margin: 0px 0px;
}
 .header-top {
    background-color:#F6F6F6;
}
.visual-hidden {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.for-header {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo-place {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}
.currency{
    margin-left: 3px;
}
.currency-symbol {
    margin-left: 5px;
    color: #2959CE;
}
.header-logo-right-place {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.search-box {
    width: 250px;
    margin-right: 5px;
    background: #FFFFFF;
    border-radius: 60px;
    color: #8D8D8D;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 10px;
}
.lang-box {
    width: 70px;
    height: 36px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #DCE6FF;
    border-radius: 39px;
    display: flex;
    align-items: center;

}
.lang-uz {
    width: 30px;
    background-color: #fff;
    color: #000000;
    border-radius: 30px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}
.lang-ru {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #A6A6A6;
    text-decoration: none;
}
.button {
    border: 0px solid dimgray;
    background: #7296EC;
    border-radius: 10px;
    padding: 15px 25px;
}
.button:hover{
    background-color: darkblue;
    box-shadow: 0 0 4px 2px red;
}
.button:active{
    background-color: red;
    box-shadow: 0 0 4px 10px red;
}
.button-enter-word {
    color: #fff;
    text-decoration: none;
}
.navigation-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.navigation-li {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    color: #7F7F7F;
}
.img{
    margin-top: 50px;
    margin-bottom: 50px;
}
.main-intro{
    margin-right: 50px;
}
.main-intro-ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 0px;
}
.main-intro-li{
    width: 370px;
    background-color:#F6F6F6;
    list-style: none;
    padding-top: 1px;
    padding-bottom: 18px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 1px;
    border-radius: 15px
}
.main-intro-li-h2{
    color: #000000;
    text-decoration: none;
}
.main-intro-li-p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
}
.main-intro-li-time{
    display: flex;
    align-items: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5E5F61;
}
.main-intro-li-time::before{
    display: block;
    width: 20px;
    height: 20px;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.t1555::before{
    background-image: url("../images/g\'s_logo.png");
}
.t1254::before{
    background-image: url("../images/g.jpg");
}
.t1344::before{
    background-image: url("../images/x+.png");
}
.t1425::before{
    background-image: url("../images/d.jpg");
}
.t1054::before{
    background-image: url("../images/L.png");
}
.t1044::before{
    background-image: url("../images/trantac.png");
}
.for-center-article {
    position: absolute;
    width: 1050px;
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 60px;
    margin-top: 50px;
    background: url("../images/article.svg");
}
.article-box{
    width: 1050px;
    height: 100px;
    margin-left: 0px;
    margin-top: 2px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.article-word{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}
.article-button {
    background-color:#F78B3B;
    padding: 13px 30px;
    color: #fff;
    border: 0px;
    border-radius: 10px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
}
.for-big-words{
    margin-top: 250px;
    margin-left: 30px;
}
.for-i-big-words{
    margin-top: 20px;
    margin-left: 30px;
}
.big-words {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
}
.for-second-part-main{
    display: flex;
    justify-content: space-around;
}
.second-main-right-ul{
}
.second-main-right-li {
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 10px;
    margin-right: 0px;
    background-color: #F6F6F6;
    border-radius: 15px;
}
.tech-flex{
    display: flex;
    justify-content: space-between;
}
.i-tech{
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 17px;
    padding-right: 17px;
    margin-top: 60px;
    margin-bottom: 10px;
    margin-right: 0px;
    border-radius: 15px;
}
.tech-p{
    width: 700px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.second-main-right-li-right{
    margin-left: 15px;
    margin-bottom: 20px;
}
.t1225::before {
    background-image: url("../images/kb.svg");
}
.t1135::before{
    background-image: url("../images/g\'s_logo.png");
}
.t0935::before{
    background-image: url("../images/s\'s_logo.png");
}
.t1943::before{
    background-image: url("../images/e.jpg");
}
.second-main-right-li-last {
    width: 790px;
    list-style: none;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 100px;
}
.show-more {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    padding-top: 17px;
    padding-bottom: 17px;
}
.section-right {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
}
.mini-container-right {
    width: 350px;
    margin-left: 25px;
    background-color: #F6F6F6;
    border-radius: 15px;
    list-style: none;
    padding: 20px;
}
.h3{
    text-decoration: none;
    color: #000000;
}
.for-bcolor {
    background-color:#7297EF;

}
.footer-mini-container {
    width: 900px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.foot-logo {
    width: 254px;
}
.for-between{
    margin-bottom: 20px;
}
.for-white {
    color: #fff;
    text-decoration: none;
}
.foot-ul {
    display: flex;
    margin-left: auto;
}
.for-lsn {
    width: 226px;
    list-style: none;
    margin-left: 30px;
}
.end{
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 35px;
}
.icons-place{
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.for-hr{
    width: 900px;
}
.tech-your-interests{
    margin-top: 60px;
    margin-left: 50px;
}
.tech-last-ul{
    display: flex;
    margin-bottom: 100px;
}
.main-intro-li-t{
    width: 370px;
    background-color:#F6F6F6;
    list-style: none;
    padding-top: 1px;
    padding-bottom: 18px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0px;
    margin-right: 35px;
    margin-bottom: 1px;
    border-radius: 15px
}
.write-us{
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.flex-input-output{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.for-contact-lsn{
    margin-right: 10px;
    list-style: none;
    padding-left: 0px;
}
.name-phone{
    width: 680px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-username{
    display: block;
    width: 335px;
    padding: 15px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: #fff;
}
.input-username:focus{
    box-shadow: 0 0 4px 2px red;
}
.email-text{
    display: block;
    width: 680px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: #fff;
}
.email-text:focus{
    box-shadow: 0 0 4px 2px red;
}
.comment{
    width: 680px;
    display: block;
    outline: none;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: #fff;
}
.comment:focus{
    box-shadow: 0 0 4px 2px red;
}
textarea{
    resize: none;
}
.c-button {
    background-color:#7297EF;
    border: 0px solid dimgray;
    border-radius: 10px;
    padding: 15px 25px;
    margin-left: 560px;
    margin-bottom: 100px;
    color: #fff;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}
.main-intro-li-img{
    margin-right: 50px;
}
/* .contact-img-left{
    margin-left: 50px;
} */